/*GRILLE à 12 COLONNES*/

.grid_12{
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-column-gap: 10px;
}

/*VERSION MOBILE TAILLE S*/
@media screen and (min-width: 320px){
	.c-ms-1{
		grid-column: span 1;
	}.c-ms-2{
		grid-column: span 2;
	}.c-ms-3{
		grid-column: span 3;
	}.c-ms-4{
		grid-column: span 4;
	}.c-ms-5{
		grid-column: span 5;
	}.c-ms-6{
		grid-column: span 6;
	}.c-ms-7{
		grid-column: span 7;
	}.c-ms-8{
		grid-column: span 8;
	}.c-ms-9{
		grid-column: span 9;
	}.c-ms-10{
		grid-column: span 10;
	}.c-ms-11{
		grid-column: span 11;
	}.c-ms-12{
		grid-column: span 12;
	}
}

/*####################*/
